@using ClassLibrary.Models;
@model UserModel;
@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<form asp-action="AddUser" method="post">
    <div class="form-group">
        @Html.LabelFor(model => model.UsrNome, htmlAttributes: new { @class = "col-form-label-sm col-sm-2" })
        @Html.EditorFor(model => model.UsrNome, new { htmlAttributes = new { @class = "form-control-sm col-sm-5" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UsrSbnome, htmlAttributes: new { @class = "col-form-label-sm col-sm-2" })
        @Html.EditorFor(model => model.UsrSbnome, new { htmlAttributes = new { @class = "form-control-sm col-sm-5" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UsrNasci, htmlAttributes: new { @class = "col-form-label-sm col-sm-2" })
        @Html.EditorFor(model => model.UsrNasci, new { htmlAttributes = new { @class = "form-control-sm col-sm-5" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UsrEmail, htmlAttributes: new { @class = "col-form-label-sm col-sm-2" })
        @Html.EditorFor(model => model.UsrEmail, new { htmlAttributes = new { @class = "form-control-sm col-sm-5" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UsrBio, htmlAttributes: new { @class = "col-form-label-sm col-sm-2" })
        @Html.EditorFor(model => model.UsrBio, new { htmlAttributes = new { @class = "form-control-sm col-sm-5" } })
    </div>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
    </div>

</form>