@model ClassLibrary.Models.UserModel

@{
    Layout = null;
}

<div class="container">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-user"></i>&ensp;Detalhes do Usuário</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
            
                <div>
                    <h4>@Html.DisplayFor(model => model.UsrNome) @Html.DisplayFor(model => model.UsrSbnome)</h4>
                    <dl class="row">
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrId)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrId)
                        </dd>
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrDtCad)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrDtCad)
                        </dd>
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrNome)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrNome)
                        </dd>
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrSbnome)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrSbnome)
                        </dd>
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrNasci)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrNasci)
                        </dd>
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrEmail)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrEmail)
                        </dd>
                        <dt class = "col-sm-4">
                            @Html.DisplayNameFor(model => model.UsrBio)
                        </dt>
                        <dd class = "col-sm-8">
                            @Html.DisplayFor(model => model.UsrBio)
                        </dd>
                    </dl>
                </div>

            </div>

            <div class="modal-footer">
                <a asp-controller="User" asp-action="UserUpdate" asp-route-id=@Model.UsrId><button type="button" class="btn btn-warning">Editar</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>