@model IEnumerable<ClassLibrary.Models.UserModel>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h1 class="mt-4"><i class="fas fa-users"></i> Lista de Usuários</h1>

 <a asp-action="AddUser" class="btn btn-secondary mt-3 mb-5">Adicionar Usuário</a>

<table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary text-center">
      <th scope="col">@Html.DisplayNameFor(model => model.UsrNome)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.UsrSbnome)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.UsrEmail)</th>
      <th scope="col">Detalhes</th>
      <th scope="col">Deletar</th>
    </tr>
  </thead>
  <tbody>

      @foreach (var item in Model) {
        <tr>
          <th scope="row">@Html.DisplayFor(modelItem => item.UsrNome)</th>
          <td>@Html.DisplayFor(modelItem => item.UsrSbnome)</td>
          <td>@Html.DisplayFor(modelItem => item.UsrEmail)</td>
          <td class="text-center"><a class="detail" data-toggle="modal" data-id="@item.UsrId"><i class="fas fa-info text-info"></i></a></td>
          <td class="text-center"><a class="delete" data-toggle="modal" data-id="@item.UsrId"><i class="far fa-trash-alt text-danger"></i></a></td>
        </tr>
        }

  </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>

        $(function () {

            $(".detail").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("../User/GetUser/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("../User/DeleteUser/" + id, function () {
                    $("#modal").modal();
                })
            });

        })

    </script>
}